/* Cart page css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

header{
    background-color: rgb(215, 240, 75);
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 8px rgba(8, 43, 95, 0.5);
}

#logo{
    width: 250px ;
    height: 300px ;
    margin-bottom: -60px;
    margin-top: -70px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav {
    margin-top: 10px; 
    margin-bottom: 20px;    
}

nav a {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    margin-top: 80px;
}

nav a:hover {
      background-color: skyblue;
    }

h2 {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 25px;
}

.information{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.user-information{
    margin-top: 50px;
}
.foot{
    background-color: rgb(215, 240, 75); 
    padding: 30px;
    text-align: center;
}