/* Cart page css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

header{
    background-color: rgb(215, 240, 75);
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 8px rgba(8, 43, 95, 0.5);
}

#logo{
    width: 250px ;
    height: 300px ;
    margin-bottom: -60px;
    margin-top: -70px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav {
    margin-top: 10px; 
    margin-bottom: 20px;    
}

nav a {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    margin-top: 80px;
}

nav a:hover {
      background-color: skyblue;
    }


#cart-container {
    font-size: 20px;
    background-color: rgb(215, 240, 75);
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(8, 43, 95, 0.5);
    max-width: 1200px;
    margin: 160px auto;
    padding: 50px;
}

#cart-table {
    width: 100%;
    border: solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#cart-table th, #cart-table td {
    border: 1px solid #444;
    padding: 15px;
    text-align: center; 
}

#cart-table th {
    font-size: 1.2em;
    text-transform: uppercase;
}

.cart-summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}


button {
    background-color:  rgb(133, 201, 228);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(skyblue, rgb(75, 75, 240) ) ;
    box-shadow: 0 5px 15px rgba(42, 9, 229, 0.5);
    transform: translateY(-3px);
}


/* js */
input.quantity-input {
    width: 60px;
    padding: 5px;
    text-align: center;
    background-color: rgb(197, 223, 233);
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: bold;
}

input.quantity-input:focus {
    outline: none;
    border: 1px solid #7c277c;
}







