body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

header {
    background-color: rgb(215, 240, 75);
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 8px rgba(8, 43, 95, 0.5);
}

#logo {
    width: 250px;
    height: 300px;
    margin-bottom: -60px;
    margin-top: -70px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

nav a {
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    background-color: skyblue;
}

#invoice-container {
    max-width: 900px;
    margin: 60px auto;
    padding: 50px;
    background-color: rgb(215, 240, 75);
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(8, 43, 95, 0.5);
}

#company-name {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

#invoice-info p, #shipping-box p {
    font-size: 20px;
    margin: 5px 0;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th {
    padding: 15px;
    font-size: 20px;
    background-color: rgb(133, 201, 228);
}

td {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#totals {
    text-align: right;
    font-size: 22px;
    margin-top: 30px;
}

button {
    background-color: rgb(133, 201, 228);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(skyblue, rgb(75, 75, 240));
    box-shadow: 0 5px 15px rgba(42, 9, 229, 0.5);
    transform: translateY(-3px);
}
