/*
    Individual Assignment 2 
    Course: CIT2011 - Introduction to Web Development
    Name: Christopher Chin
    Date Due: 2025-11-13
*/

body{
     font-family: 'Arial', sans-serif;
     margin: 0;
     padding: 0px;
     background: linear-gradient(skyblue, rgb(75, 75, 240) );
     /* text colour*/
     color: black; 
     display: flex;
     justify-content: center;
    /* creates a smaller display */
     align-items: center;
     height: 100dvh;
     
}

/* register.html editting */
.PC-Register-container{
    width: 90%;
    max-width: 700px;
    padding: 20px;
    background-color: rgb(215, 240, 75);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgb(75, 75, 240);
    box-sizing: border-box;
    animation: fadeIn 1s ease-in-out;
}

/*fade-in container for animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px ;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 4px solid rgb(31, 122, 158);
    padding-bottom: 10px; 


    display: inline-block;
    width:100% ; /*      */
}


/* Register form styling */
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
}

/* register form label styling */
label{
    font-size: 15px;
    margin-bottom: 5px;
    display: block;
}

/*Styling input for email, phone and date*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    background: rgb(197, 223, 233);
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #7c277c;
    outline: none;
}

button{
    width: 100%;
    padding: 13px;
    margin: 10px 0;
    background: rgb(133, 201, 228);
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: linear-gradient(skyblue, rgb(75, 75, 240) ) ;
    box-shadow: 0 5px 15px rgba(42, 9, 229, 0.5);
}
